/*自定义的css样式*/


/*
 	公共样式
 * */

body {
	font-family: "微软雅黑" "arial, helvetica, sans-serif";
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

section {}


/*section:nth-of-type(2n) {
	background-color: #F2DEDE;
}*/

.a-text {
	text-decoration: none;
	color: #8C8C8C;
}


/*
 	头部区域
 * */

#header {
	z-index: 100;
	width: 100%;
}

#header>.topbar {
	height: 40px;
	border-bottom: 1px solid #C0C0C0;
	background-color: white;
}

#header>.topbar>.row {
	height: 100%;
}

#header>.topbar>.row div {
	line-height: 40px;
}

#header>.topbar>.row div+div {
	border-left: 1px solid #C0C0C0;
}

#header .mobile-link {
	text-decoration: none;
	color: gray;
}

#header .mobile-link .code {
	width: 150px;
	height: 150px;
	display: none;
}

#header .mobile-link:hover>.code {
	position: absolute;
	display: block;
	background-color: goldenrod;
	z-index: 1001;
}

.navbar-right>li:hover {
	border-bottom: 2px solid #e92322;
}


/*
	#header > .topbar > .row >div:nth-of-type(2n+1){
		background-color: ghostwhite;
	}*/


/*
 	头部区域
 * */


/*
	轮播区域
 * */

#carousel-example-generic>.carousel-inner>.item>div {
	width: 2000px;
	height: 400px;
}

@media (max-width: 768px) {
	/*当屏幕小于768px时,div宽度变为200px*/
	#carousel-example-generic>.carousel-inner>.item>div {
		height: 200px;
	}
}


/*
	轮播区域
 * */


/* 
 * 网站特色板块
 * */

#tese>.container {
	border-bottom: 1px solid #222222;
}

#tese>.container>.row>div {
	height: 120px;
	/*background-color: sandybrown;*/
	padding-top: 40px;
}

#tese>.container>.row>div:nth-of-type(2n+1) {
	/*background-color: royalblue;*/
}

#tese>.container>.row>div>a {
	color: black;
	border-bottom: 1px solid #222222;
}

#tese>.container>.row>div>a:hover {
	text-decoration: none;
	color: goldenrod;
}

.glyphicon-euro:before,
.glyphicon-eur:before {
	font-size: 22px;
}


/* 
 * 网站特色板块
 * */


/*<!--立即预约板块-->*/

#yuyue>.container {
	border-bottom: 1px solid #f0f0f0;
}

#yuyue>.container>p {
	line-height: 50px;
	margin-bottom: 0;
	font-size: 16px;
}

#yuyue>.container>p>span {
	color: red;
}

#yuyue>.container>.pull-left {
	color: #0F0F0F;
}


/*<!--立即预约板块-->*/


/*<!--选项卡板块-->*/

#tab>.container {
	margin-top: 20px;
}

.ul-wapper {
	overflow-x: auto;
}

.ul-wapper>.nav-tabs>li>a {
	color: #101010;
}

.ul-wapper>.nav-tabs>li.active>a,
.ul-wapper>.nav-tabs>li.active>a:hover,
.ul-wapper>.nav-tabs>li.active>a:focus {
	border: 0;
	border-bottom: 4px solid #d43f3a;
	font-size: 16px;
	color: #0F0F0F;
}

.content>div {
	width: 360px;
	height: 150px;
	background: #E92322;
	margin: 10px 10px;
}

.content>.public-color {
	background: #999;
}

.content>.col-md-4>.panel {
	border: 0;
}

.content>.col-md-4>.panel>.panel-body {
	width: 100px;
	height: 150px;
	border-left: 1px dotted;
	position: relative;
	color: white;
}

.content>.col-md-4>.panel>.panel-heading {
	border: 0;
	width: 200px;
	height: 150px;
	background: transparent;
	padding: 0;
	padding-right: 10px;
}

.content>.col-md-4>.panel>.panel-body::before {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	background: white;
	border-radius: 50%;
	left: -7px;
	top: -7px;
}

.content>.col-md-4>.panel>.panel-heading {
	color: white;
}

.content>.col-md-4>.panel>.panel-heading>.pull-right {
	text-align: right;
}

.content>.col-md-4>.panel>.panel-body::after {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	background: white;
	border-radius: 50%;
	left: -7px;
	bottom: -7px;
}

.content>.col-md-4>.panel>.panel-body {
	text-align: center;
	padding: 0;
	padding: 30px 0 0 25px;
	position: relative;
}

.content>.col-md-4>.panel>.panel-body>span {
	font-size: 36px;
}

.content>.col-md-4>.panel>.panel-body>.tooltips {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 13px;
}

.content>.col-md-4>.panel>.panel-body>.tooltips>a {
	border: 1px solid blue;
	padding: 2px 3px;
	color: ;
}

.content>.col-md-4>.panel>.panel-body>.tooltips>.badge {
	border-radius: 0;
	background-color: transparent;
	text-decoration: none;
	height: 24px;
	width: 24px;
	font-size: 14px;
}

.content>.col-md-4>.panel>.panel-body>.tooltips>.badge-one {
	border-color: #1B6D85;
}

.content>.col-md-4>.panel>.panel-body>.tooltips>.badge-two {
	border-color: #2AABD2;
}


/*<!--选项卡板块-->*/


/*新闻版块*/

.news {
	padding: 50px;
}

.news>.title {
	font-size: 24px;
	color: white;
	border-bottom: 1px dashed black;
	text-align: center;
	color: #1B6D85;
}

.news>.title::after {
	content: '';
	width: 10px;
	height: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 50%;
	position: absolute;
	right: -10px;
	bottom: -5px;
}

.news ul>li {}

.news .col-sm-2 .nav-pills>li>a {
	margin: 0 auto;
	line-height: 50px;
	width: 70px;
	height: 70px;
	font-size: 28px;
	text-align: center;
	border-radius: 50%;
}


/*新闻版块*/


/*
 	底部区域
 * */

#footer {
	height: 39px;
	background-color: #F5F5F5;
}


/*
 合作伙伴
 * */

#partner {
	text-align: center;
}

#partner>ul>li {
	border-right: 1px dotted #204D74;
	font-size: 48px;
	margin: 20px;
	padding-right: 20px;
	float: left;
	list-style: none;
}

#partner>ul>li:hover a {
	color: #C9302C;
	text-decoration: none;
}

@media(max-width: 600px) {
	#partner>ul>li {
		border-right: 1px dotted #204D74;
		font-size: 20px;
		margin: 5px;
		padding-right: 5px;
	}
}


/*
 	底部区域
 * */


/*bootstrap扩展*/

.navbar-itcast {
	background-color: #f8f8f8;
	border-color: #F5F5F5;
}

.navbar-itcast .navbar-brand {
	color: #777;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
	color: #5e5e5e;
	background-color: transparent;
}

.navbar-itcast .navbar-text {
	color: #777;
}

.navbar-itcast .navbar-nav>li>a {
	color: #777;
}

.navbar-itcast .navbar-nav>li>a:hover,
.navbar-itcast .navbar-nav>li>a:focus {
	color: #333;
	background-color: transparent;
}

.navbar-itcast .navbar-nav>.active>a,
.navbar-itcast .navbar-nav>.active>a:hover,
.navbar-itcast .navbar-nav>.active>a:focus {
	color: #555;
	background-color: #e7e7e7;
}

.navbar-itcast .navbar-nav>.disabled>a,
.navbar-itcast .navbar-nav>.disabled>a:hover,
.navbar-itcast .navbar-nav>.disabled>a:focus {
	color: #ccc;
	background-color: transparent;
}

.navbar-itcast .navbar-toggle {
	border-color: #ddd;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
	background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
	border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav>.open>a,
.navbar-itcast .navbar-nav>.open>a:hover,
.navbar-itcast .navbar-nav>.open>a:focus {
	color: #555;
	background-color: #e7e7e7;
}

@media (max-width: 767px) {
	.navbar-itcast .navbar-nav .open .dropdown-menu>li>a {
		color: #777;
	}
	.navbar-itcast .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-itcast .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #333;
		background-color: transparent;
	}
	.navbar-itcast .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-itcast .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-itcast .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	.navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a,
	.navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a:hover,
	.navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a:focus {
		color: #ccc;
		background-color: transparent;
	}
}

.navbar-itcast .navbar-link {
	color: #777;
}

.navbar-itcast .navbar-link:hover {
	color: #333;
}

.navbar-itcast .btn-link {
	color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
	color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
	color: #ccc;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #fff;
	border-bottom: 2px #000 solid;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #fff;
}

.navbar-default .navbar-nav>li+li a:hover {
	background-color: #fff;
	border-bottom: 2px #e92322 solid;
}

.navbar-default {
	background-color: #fff;
}